
@media only screen and (min-width: 600px) {
	#closeButton{
		display: none;
	}
	#openNav{
		display: none;
	}
	#mobSideNav{
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	#openNav{
		display: none;
	}
	#pcSideNav{
		display: none;
	}
	#Details{
		width: 100%;
	}
}
